.container {
    background-color: gray;
    height: 150px;
    width: 400px;

}



.node-value{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;


}

.node-references{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.node-references-left{
    border: 1px solid black;
    padding: 10px;

}

.node-references-right{
    border: 1px solid black;
    padding: 10px;

}